<!DOCTYPE html>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5" lang="">
<head>
    <meta http-equiv='Content-Type' content='text/html; charset=UTF-8'/>
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Pson Library</title>
    <link rel="shortcut icon" href="/public/logo.png"/>
    <script type="text/javascript" th:src="@{/js/main.js}"></script>
    <link href="/css/main.css" th:href="@{/css/main.css}" rel="stylesheet"/>

</head>

<body>
<div id="main-container" class="main-container nav-effect-1">

    <nav class="nav-menu nav-effect-1" id="menu-1">
        <h2 class="">Add new book</h2>
        <ul>
            <li><a href="/">Library</a></li>
            <li><a href="/table/books/all">Table library</a></li>

            <div sec:authorize="!isAuthenticated()">
                <li><a href="/registration">Registration</a></li>
                <li><a href="/login">Login</a></li>
            </div>

            <div sec:authorize="hasAnyAuthority('ROLE_ADMIN')">
                <li><a href="/files/upload">Upload file</a></li>
                <li><a href="/add">Add new book</a></li>
                <li><a href="/changeCategories">Change Categories</a></li>
            </div>
            <div sec:authorize="hasAnyAuthority('ROLE_USER','ROLE_ADMIN')">
                <li><a href="/profile" th:text="${#authentication.name}"></a></li>
                <li><a href="/logout">Logout</a></li>
            </div>
        </ul>
    </nav>

    <div class="main clearfix">

        <!-- Header Content -->
        <header id="header" class="page-header">
            <div class="page-header-container row">

                <!-- Logo -->
                <div class="main-logo">
                    <a href="/">
                        <img class="main-header-logo" src="/img/logo.jpeg" alt="">
                    </a>
                </div>

                <div class="menu-search">
                    <!-- Main Navigation -->
                    <div class="main-navigation">
                        <a href="#">Menu</a>
                    </div>
                </div>
            </div>
        </header>


        <!-- Main Section -->
        <div class="page-container">

            <div class="page-title category-title">
                <h1>Add new book</h1>
            </div>

            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                 aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <form method="post" th:object="${book}" enctype="multipart/form-data" th:action="@{/add}">
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label for="bookName">Book name</label>
                                    <input type="text" class="form-control" id="bookName" th:field="*{bookName}"
                                           placeholder="Book name"/>
                                    <label for="author">Author</label>
                                    <input type="text" class="form-control" id="author" th:field="*{author}"
                                           placeholder="Author"/>
                                    <label for="year">Year</label>
                                    <input type="number" class="form-control" id="year"
                                           placeholder="Year" th:field="*{year}"/>

                                    <label>
                                        <input style = "width:250px; height:20px;" list="select" name="category" th:name="category" id="category" placeholder="Category">
                                        <datalist class="form-control" id="select" name="category" th:name="category">
                                            <option th:each="category : ${categories}" th:value="${category}"
                                                    th:text="${category}">
                                            </option>
                                        </datalist>
                                    </label>

                                    <label for="image">Book cover: </label>
                                    <input type="file" name="image" accept="image/png, image/jpeg" id="image"/>

                                    <label for="description">Description</label>
                                    <input type="text" id="description" placeholder="Description">

                                </div>
                            </div>
                            <div class="text-center">
                                <input type="submit" value="Add new book" class="btn btn-primary"/>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <!-- Footer Content -->
            <footer id="footer" class="page-footer">
                <div class="row footer-wrapper">
                    <div class="copyright small-12 columns">&copy; 2021 - <a>Ovcharenko Oleksandr</a></div>
                </div>
            </footer>

        </div>
        <!-- /main -->

        <div class="main-overlay">
            <div class="overlay-full"></div>
        </div>

    </div>
</div>

<link rel="stylesheet" href="https://cdn.jsdelivr.net/foundation/6.2.0/foundation.min.css">

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/foundation/6.2.0/foundation.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Shuffle/4.0.0/shuffle.min.js"></script>
<script src="/js/main.js"></script>
</body>
</html>