<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      lang="">
<head>
    <meta http-equiv='Content-Type' content='text/html; charset=UTF-8'/>
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Pson Library</title>
    <link rel="shortcut icon" type="/image/png" th:href="@{favicon.ico}"/>
    <script type="text/javascript" th:src="@{/js/main.js}"></script>
    <link href="/css/main.css" th:href="@{/css/main.css}" rel="stylesheet"/>

</head>

<body>
<div id="main-container" class="main-container nav-effect-1">

    <nav class="nav-menu nav-effect-1" id="menu-1">
        <h2 class="" th:text="#{title}">The Library</h2>
        <ul>
            <li><a href="/" th:text="#{nav.home}">Library</a></li>
            <li><a href="/table/" th:text="#{nav.table}">Table library</a></li>

            <div sec:authorize="!isAuthenticated()">
                <li><a href="/registration" th:text="#{nav.registration}">Registration</a></li>
                <li><a href="/login" th:text="#{nav.login}">Login</a></li>
            </div>

            <div sec:authorize="hasAnyAuthority('ROLE_ADMIN')">
                <li><a href="/files/upload" th:text="#{nav.upload.file}">Upload file</a></li>
                <li><a href="/add" th:text="#{nav.add}">Add new book</a></li>
                <li><a href="/changeCategories" th:text="#{nav.change.categories}">Change Categories</a></li>
            </div>
            <div sec:authorize="hasAnyAuthority('ROLE_USER','ROLE_ADMIN')">
                <li><a href="/profile" th:text="#{nav.profile}">My profile</a></li>
                <li><a href="/logout" th:text="#{nav.logout}">Logout</a></li>
            </div>
        </ul>
    </nav>

    <div class="main clearfix">
        <!-- Header Content -->
        <header id="header" class="page-header">
            <div class="page-header-container row">

                <!-- Logo -->
                <div class="main-logo">
                    <a href="/">
                        <img class="main-header-logo" src="/img/logo.jpeg" alt="">
                    </a>
                </div>

                <div class="localization" th:if="${#locale.toString() == 'uk_UA'}">
                    <a th:href="@{${#httpServletRequest.requestURI}(lang='en_GB')}">
                        <i>EN</i>
                    </a>
                </div>
                <div class="localization" th:if="${#locale.toString() == 'en_GB'}">
                    <a th:href="@{${#httpServletRequest.requestURI}(lang='uk_UA')}">
                        <i>UK</i>
                    </a>
                </div>

                <div class="menu-search">
                    <!-- Main Navigation -->
                    <div class="main-navigation">
                        <a href="#" th:text="#{nav.menu}">Menu</a>
                    </div>
                </div>
            </div>
        </header>

        <!-- Main Section -->
        <div class="main-box">
            <!--            <div class="page-title category-title">-->
            <!--                &lt;!&ndash;                <h1>Reset Password</h1>&ndash;&gt;-->
            <!--                <h1 th:text="#{message.resetPassword}">Reset</h1>-->
            <!--            </div>-->

            <!--            <label th:text="#{label.user.email}">email</label>-->
            <!--            <input id="email" name="email" type="email" value=""/>-->
            <!--            <button type="submit" onclick="resetPass()"-->
            <!--                    th:text="#{message.resetPassword}">reset-->
            <!--            </button>-->

            <!--            <a th:href="@{/registration.html}" th:text="#{label.form.loginSignUp}">-->
            <!--                Registration-->
            <!--            </a>-->
            <!--            <a th:href="@{/login}" th:text="#{label.form.loginLink}">Login</a>-->

            <div class="page-title category-title">
                <!--                <h1>Reset Password</h1>-->
                <h1>Reset</h1>
            </div>

            <form th:action="@{/resetPassword}" method="post">
                <label>email</label>
                <label for="email">
                    <input id="email" name="email" type="email" value=""/>
                </label>
                <button type="submit">Reset
                </button>
            </form>

            <a th:href="@{/registration}">
                Registration
            </a>
            <a th:href="@{/login}">Login</a>

            <!--            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"-->
            <!--                 aria-hidden="true">-->
            <!--                <div class="modal-dialog">-->
            <!--                    <form th:action="@{/forgot}" method="post">-->
            <!--                        <div class="modal-content">-->
            <!--                            <label>Enter your e-mail address and we'll send you a-->
            <!--                                link to reset your password.</label>-->
            <!--                            <div class="form-group">-->
            <!--                                &lt;!&ndash;                             th:classappend="${#fields.hasErrors('email')}? 'has-error':''">&ndash;&gt;-->
            <!--                                <label for="email" class="control-label" th:text="#{reg.email}">E-mail</label>-->
            <!--                                <input id="email"-->
            <!--                                       type="email"-->
            <!--                                       name="email"-->
            <!--                                       class="form-control"-->
            <!--                                       style="width: 300px"/>-->
            <!--                                &lt;!&ndash;                            <p class="error-message"&ndash;&gt;-->
            <!--                                &lt;!&ndash;                               th:each="error : ${#fields.errors('email')}"&ndash;&gt;-->
            <!--                                &lt;!&ndash;                               th:text="${error}">Validation error</p>&ndash;&gt;-->
            <!--                            </div>-->
            <!--                        </div>-->
            <!--                    </form>-->
            <!--                </div>-->
            <!--            </div>-->
        </div>
        <!-- /main -->

        <div class="main-overlay">
            <div class="overlay-full"></div>
        </div>
    </div>

</div>

<link rel="stylesheet" href="https://cdn.jsdelivr.net/foundation/6.2.0/foundation.min.css">

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/foundation/6.2.0/foundation.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Shuffle/4.0.0/shuffle.min.js"></script>
<script src="/js/main.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
</body>
</html>
