<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      lang="">
<head>
    <meta http-equiv='Content-Type' content='text/html; charset=UTF-8'/>
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Pson Library</title>
    <link rel="shortcut icon" type="/image/png" th:href="@{favicon.ico}"/>
    <script type="text/javascript" th:src="@{/js/main.js}"></script>
    <link href="/css/main.css" th:href="@{/css/main.css}" rel="stylesheet"/>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}"/>
</head>

<body>
<div id="main-container" class="main-container nav-effect-1">

    <nav class="nav-menu nav-effect-1" id="menu-1">
        <h2 class="" th:text="#{title}">The Library</h2>
        <ul>
            <li><a href="/" th:text="#{nav.home}">Library</a></li>
            <li><a href="/table/" th:text="#{nav.table}">Table library</a></li>

            <div sec:authorize="!isAuthenticated()">
                <li><a href="/registration" th:text="#{nav.registration}">Registration</a></li>
                <li><a href="/login" th:text="#{nav.login}">Login</a></li>
            </div>

            <div sec:authorize="hasAnyAuthority('ROLE_ADMIN')">
                <li><a href="/files/upload" th:text="#{nav.upload.file}">Upload file</a></li>
                <li><a href="/add" th:text="#{nav.add}">Add new book</a></li>
                <li><a href="/changeCategories" th:text="#{nav.change.categories}">Change Categories</a></li>
            </div>
            <div sec:authorize="hasAnyAuthority('ROLE_USER','ROLE_ADMIN')">
                <li><a href="/profile" th:text="#{nav.profile}">My profile</a></li>
                <li><a href="/logout" th:text="#{nav.logout}">Logout</a></li>
            </div>
        </ul>
    </nav>

    <div class="main clearfix">

        <!-- Header Content -->
        <header id="header" class="page-header">
            <div class="page-header-container row">

                <!-- Logo -->
                <div class="main-logo">
                    <a href="/">
                        <img class="main-header-logo" src="/img/logo.jpeg" alt="">
                    </a>
                </div>

                <div class="localization" th:if="${#locale.toString() == 'uk_UK'}">
                    <a th:href="@{${#httpServletRequest.requestURI}(lang='en_US')}">
                        <i>EN</i>
                    </a>
                </div>
                <div class="localization" th:if="${#locale.toString() == 'en_US'}">
                    <a th:href="@{${#httpServletRequest.requestURI}(lang='uk_UK')}">
                        <i>UK</i>
                    </a>
                </div>

                <div class="menu-search">
                    <!-- Main Navigation -->
                    <div class="main-navigation">
                        <a href="#" th:text="#{nav.menu}">Menu</a>
                    </div>
                </div>
            </div>
        </header>


        <!-- Main Section -->
        <div class="main-box">
            <div class="page-container">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6 col-md-offset-3">
                            <h1 th:text="#{reg.title}">Registration</h1>
                            <form th:action="@{/registration}" th:object="${user}" method="post">

                                <p class="error-message"
                                   th:if="${#fields.hasGlobalErrors()}"
                                   th:each="error : ${#fields.errors('global')}"
                                   th:text="${error}">Validation error</p>

                                <div class="form-group"
                                     th:classappend="${#fields.hasErrors('firstName')}? 'has-error':''">
                                    <label for="firstName" class="control-label" th:text="#{reg.first.name}">First
                                        name</label>
                                    <input id="firstName"
                                           class="form-control"
                                           th:field="*{firstName}" style="width: 300px; height: 40px"/>
                                    <p class="error-message"
                                       th:each="error: ${#fields.errors('firstName')}"
                                       th:text="${error}">Validation error</p>
                                </div>
                                <div class="form-group"
                                     th:classappend="${#fields.hasErrors('lastName')}? 'has-error':''">
                                    <label for="lastName" class="control-label" th:text="#{reg.last.name}">Last
                                        name</label>
                                    <input id="lastName"
                                           class="form-control"
                                           th:field="*{lastName}" style="width: 300px; height: 40px"/>
                                    <p class="error-message"
                                       th:each="error : ${#fields.errors('lastName')}"
                                       th:text="${error}">Validation error</p>
                                </div>
                                <div class="form-group"
                                     th:classappend="${#fields.hasErrors('email')}? 'has-error':''">
                                    <label for="email" class="control-label" th:text="#{reg.email}">E-mail</label>
                                    <input id="email"
                                           type="email"
                                           class="form-control"
                                           th:field="*{email}" style="width: 300px"/>
                                    <p class="error-message"
                                       th:each="error : ${#fields.errors('email')}"
                                       th:text="${error}">Validation error</p>
                                </div>
                                <div class="form-group"
                                     th:classappend="${#fields.hasErrors('confirmEmail')}? 'has-error':''">
                                    <label for="confirmEmail" class="control-label" th:text="#{reg.confirm.email}">Confirm
                                        e-mail</label>
                                    <input id="confirmEmail"
                                           type="email"
                                           class="form-control"
                                           th:field="*{confirmEmail}" style="width: 300px"/>
                                    <p class="error-message"
                                       th:each="error : ${#fields.errors('confirmEmail')}"
                                       th:text="${error}">Validation error</p>
                                </div>
                                <div class="form-group"
                                     th:classappend="${#fields.hasErrors('password')}? 'has-error':''">
                                    <label for="password" class="control-label"
                                           th:text="#{reg.password}">Password</label>
                                    <input id="password"
                                           class="form-control"
                                           type="password"
                                           th:field="*{password}" style="width: 300px"/>
                                    <p class="error-message"
                                       th:each="error : ${#fields.errors('password')}"
                                       th:text="${error}">Validation error</p>
                                </div>
                                <div class="form-group"
                                     th:classappend="${#fields.hasErrors('confirmPassword')}? 'has-error':''">
                                    <label for="confirmPassword" class="control-label"
                                           th:text="#{reg.confirm.password}">Confirm password</label>
                                    <input id="confirmPassword"
                                           class="form-control"
                                           type="password"
                                           th:field="*{confirmPassword}" style="width: 300px"/>
                                    <p class="error-message"
                                       th:each="error : ${#fields.errors('confirmPassword')}"
                                       th:text="${error}">Validation error</p>
                                </div>

                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-sm-6 col-sm-offset-3">
                                            <input type="submit"
                                                   name="login-submit"
                                                   id="login-submit"
                                                   class="form-control btn btn-info"
                                                   value="Register"/>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <a href="/" th:href="@{/login}" th:text="#{reg.login}">Login here</a>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <footer id="footer" class="page-footer">
            <div class="row footer-wrapper">
                <div class="copyright small-12 columns">&copy; 2021 - <a>Ovcharenko Oleksandr</a></div>
            </div>
        </footer>
    </div>
    <!-- /main -->

    <div class="main-overlay">
        <div class="overlay-full"></div>
    </div>

</div>

<link rel="stylesheet" href="https://cdn.jsdelivr.net/foundation/6.2.0/foundation.min.css">

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/foundation/6.2.0/foundation.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Shuffle/4.0.0/shuffle.min.js"></script>
<script type="text/javascript" th:src="@{/webjars/jquery/3.2.1/jquery.min.js/}"></script>
<script type="text/javascript" th:src="@{/webjars/bootstrap/3.3.7/js/bootstrap.min.js}"></script>
<script src="/js/main.js"></script>
</body>
</html>