<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      lang="">
<head>
    <meta http-equiv='Content-Type' content='text/html; charset=UTF-8'/>
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Pson Library</title>
    <link rel="shortcut icon" href="/public/logo.png"/>
    <script type="text/javascript" th:src="@{/js/main.js}"></script>
    <link href="/css/main.css" th:href="@{/css/main.css}" rel="stylesheet"/>

</head>

<body>
<div id="main-container" class="main-container nav-effect-1">

    <nav class="nav-menu nav-effect-1" id="menu-1">
        <h2 class="" th:text="#{title}">The Library</h2>
        <ul>
            <li><a href="/" th:text="#{nav.home}">Library</a></li>
            <li><a href="/table/" th:text="#{nav.table}">Table library</a></li>

            <div sec:authorize="!isAuthenticated()">
                <li><a href="/registration" th:text="#{nav.registration}">Registration</a></li>
                <li><a href="/login" th:text="#{nav.login}">Login</a></li>
            </div>

            <div sec:authorize="hasAnyAuthority('ROLE_ADMIN')">
                <li><a href="/files/upload" th:text="#{nav.upload.file}">Upload file</a></li>
                <li><a href="/add" th:text="#{nav.add}">Add new book</a></li>
                <li><a href="/admin/allUsers" th:text="#{nav.library.users}">Library users</a></li>
                <li><a href="/admin/showBookingCards" th:text="#{nav.library.bookCards}">Booking card</a></li>
            </div>

            <div sec:authorize="hasAnyAuthority('ROLE_USER','ROLE_ADMIN')">
                <li><a href="/profile" th:text="#{nav.profile}">My profile</a></li>
                <li><a href="/logout" th:text="#{nav.logout}">Logout</a></li>
            </div>
        </ul>
    </nav>

    <div class="main clearfix">

        <!-- Header Content -->
        <header id="header" class="page-header">
            <div class="page-header-container row">

                <!-- Logo -->
                <div class="main-logo">
                    <a href="/">
                        <img class="main-header-logo" src="/img/logo.jpeg" alt="">
                    </a>
                </div>

                <div class="localization" th:if="${#locale.toString() == 'uk_UA'}">
                    <a th:href="@{${#httpServletRequest.requestURI}(lang='en_GB')}">
                        <i>EN</i>
                    </a>
                </div>
                <div class="localization" th:if="${#locale.toString() == 'en_GB'}">
                    <a th:href="@{${#httpServletRequest.requestURI}(lang='uk_UA')}">
                        <i>UK</i>
                    </a>
                </div>

                <div class="menu-search">
                    <!-- Main Navigation -->
                    <div class="main-navigation">
                        <a href="#" th:text="#{nav.menu}">Menu</a>
                    </div>

                    <!-- Search -->
                    <form action="#" th:action="@{/table/find/}" th:object="${books}" method="get">
                        <div class="catalog-search">
                            <label for="input-search">
                                <input class="shuffle-search input_field " type="search" autocomplete="off" value=""
                                       maxlength="128" id="input-search" name="search"/>
                            </label>
                            <label class="input_label" for="books">
                                <span class="input_label-content" th:text="#{library.search}">Search Library</span>
                                <span class="input_label-search"></span>
                            </label>
                        </div>
                    </form>
                </div>
            </div>
        </header>


        <!-- Main Section -->
        <div class="main-box">
            <div class="page-container">

                <div class="page-title category-title">
                    <h1 th:text="#{table.title}">Books table</h1>
                </div>

                <div class="toolbar row">
                    <div class="filter-options small-12 medium-9 columns">
                        <div>
                            <form th:action="@{/table/category}" method="get">
                                <div class="nav-category">
                                    <a th:href="@{/table/}" class="filter-item" th:text="#{category.all}">All categories</a>
                                </div>
                                <div class="nav-category">
                                    <label>
                                        <select th:name="category" style="width: 300px">
                                            <option disabled selected th:text="#{category.find}">Find by category</option>
                                            <option th:each="category : ${categories}"
                                                    th:text="${category}">
                                            </option>
                                        </select>
                                    </label>
                                </div>

                                <div class="nav-category">
                                    <button type="submit" th:text="#{category.find}">Find by category</button>
                                </div>
                            </form>
                        </div>


                    </div>
                    <!--                <div class="small-12 medium-3 columns">-->
                    <!--                    <label>-->
                    <!--                        <select class="sort-options">-->
                    <!--                            <option value="" disabled selected>Sort by</option>-->
                    <!--                            <option value="">Featured</option>-->
                    <!--                            <option value="title">Alphabetical</option>-->
                    <!--                            <option value="date-created">Published</option>-->
                    <!--                        </select>-->
                    <!--                    </label>-->
                    <!--                </div>-->
                </div>

                <div class="container">
                    <div class="row">
                        <div class="col-lg-10 mt-5 mb-5">
                            <table id="books" class="table table-bordered table-responsive-sm">
                                <thead>
                                <tr>
                                    <th th:text="#{book.name}">Book Name</th>
                                    <th th:text="#{book.author}">Author</th>
                                    <th th:text="#{book.year}">Year</th>
                                    <th th:text="#{book.section}">Section</th>
                                    <th th:text="#{book.amount}">Amount</th>
                                    <th th:text="#{book.action}">Action</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="book : ${books.content}">
                                    <td th:text="${book.bookName}">title</td>
                                    <td th:text="${book.author}">body</td>
                                    <td th:text="${book.year}">body</td>
                                    <td th:text="${book.section}">body</td>
                                    <th th:text="${book.amount}">body</th>
                                    <td>
                                        <a class="col-sm-6 col-sm-offset-3" th:href="@{/find/{id}(id=${book.id})}"
                                           th:text="#{book.details}">Details</a>
                                        <div sec:authorize="hasAnyAuthority('ROLE_USER','ROLE_ADMIN')">
                                            <div th:if="${book.amount} >= 1">
                                                <form th:action="@{/takeBook/{id}(id=${book.id})}" method="post">
                                                    <div class="col-sm-6 col-sm-offset-3">
                                                        <input type="submit"
                                                               name="login-submit"
                                                               id="book-take-submit"
                                                               class="form-control btn btn-info"
                                                               th:value="#{book.take}"/>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                        <div sec:authorize="hasAnyAuthority('ROLE_ADMIN')">
                                            <a th:href="@{/edit/{id}(id=${book.id})}" type="button"
                                               class="btn btn-danger button btn btn-primary"
                                               data-bs-toggle="modal" data-bs-target="#exampleModal"
                                               th:text="#{book.update}">Update</a>
                                            <a th:href="@{/delete/{id}(id=${book.id})}"
                                               class="btn btn-danger button btn btn-primary" th:text="#{book.delete}">Delete</a>
                                        </div>
                                    </td>
                                </tr>
                                </tbody>
                            </table>

                            <nav aria-label="Page navigation example">
                                <ul th:if="${books.getTotalElements() > 20}" class="pagination">
                                    <li class="page-item">
                                        <a class="page-link" href="#" aria-label="First" th:if="${books.totalPages > 0}"
                                           th:href="@{/table/{category}(size=${books.size}, page=${1}, category=${category})}">
                                            <span aria-hidden="true">&laquo;</span>
                                        </a>
                                    </li>
                                    <th:block th:each="pageNumber : ${pageNumbers}">
                                        <li class="page-item"><a
                                                th:href="@{/table/{category}(size=${books.size}, page=${pageNumber}, category=${category})}"
                                                th:text="${pageNumber}" class="page-link" href="#"></a></li>
                                    </th:block>
                                    <li class="page-item">
                                        <a class="page-link" href="#" aria-label="Last" th:if="${books.totalPages > 0}"
                                           th:href="@{/table/{category}(size=${books.size}, page=${books.totalPages}, category=${category})}">
                                            <span aria-hidden="true">&raquo;</span>
                                        </a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Footer Content -->
        <footer id="footer">
            <div class="row footer-wrapper">
                <div class="copyright small-12 columns">&copy; 2021 - <a>Ovcharenko Oleksandr</a></div>
            </div>
        </footer>

    </div>
    <!-- /main -->

    <div class="main-overlay">
        <div class="overlay-full"></div>
    </div>

</div>

<link rel="stylesheet" href="https://cdn.jsdelivr.net/foundation/6.2.0/foundation.min.css">

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/foundation/6.2.0/foundation.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Shuffle/4.0.0/shuffle.min.js"></script>

<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>

<script src="/js/main.js"></script>
</body>
</html>